# Ignore files for ESLint & Prettier
eslint.config.js
.prettierrc
.prettierignore
.stylelintrc.json

# Ignore extension metadata file
metadata.json

# Ignore Markdown files
*.md

# Ignore YAML configuration files
*.yaml
*.yml